body {
	background: #f6f1ed;
	font-family: "微软雅黑"
}


/*banner*/

.lovepz_banner_pc {
	height: 500px;
	width: 100%;
	display: block;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.lovepz_banner_m {
	width: 100%;
	display: block;
}


/*产品*/

.lovepz_content1,
.lovepz_content2 {
	margin-top: 5%;
}

.lovepz_content2 {
	margin-bottom: 10%;
}

.lovepz_content1 img,
.lovepz_content2 img {
	width: 100%;
	margin-top: 10%;
}

.lovepz_title_list ul {}

.lovepz_title_list ul li {
	width: 36px;
	height: 105px;
	background-image: url(../img/lovepz_title_bg.jpg);
	background-size: cover;
	margin-left: 5%;
	float: left;
}

.lovepz_title_list ul li span {
	text-align: center;
	width: 36px;
	font-size: 14px;
	line-height: 15px;
}

.lovepz_content1 span {
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
	display: block;
	margin-top: 20px;
}

.lovepz_content1 p {
	color: #000000;
	font-size: 16px;
	text-indent: 2em;
}

.lovepz_content2 span {
	color: #d30303;
	font-size: 20px;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
}

.lovepz_content2 p {
	color: #71654e;
	font-size: 16px;
	line-height: 20px;
}

@media screen and (max-width:960px) {
	.lovepz_title_list ul li {
		margin-left: 0%;
	}
}